.App {
  text-align: center;
  min-height: fit-content;
}


.App-header {
  background-color: #abc3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  color:#31198a;
  font-family: cursive;
  border-right:  #abc3f7;
  
}
.App-footer{
  background-color: #abc3f7;
  align-items: center;
  font-size: small;
  margin-top:46.9px;
  color:black;
  font-weight: 500;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
